# Pliki i foldery do ignorowania w Pythonie

# Katalog z plikami skompilowanymi
__pycache__/
*.py[cod]

# Pliki środowisk wirtualnych
.env/
venv/
env/

# Pliki konfiguracyjne edytorów
.vscode/
.idea/

# Pliki systemowe
.DS_Store
Thumbs.db
